- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title @page.human_title
- wiki_breadcrumb_dropdown_links(@page.slug)
- page_title @page.human_title, _("Wiki")
- add_to_breadcrumbs _("Wiki"), project_wiki_path(@project, :home)

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .nav-text.flex-fill
    %h2.wiki-page-title= @page.human_title
    %span.wiki-last-edit-by
      - if @page.last_version
        = (_("Last edited by %{name}") % { name: "<strong>#{@page.last_version.author_name}</strong>" }).html_safe
        #{time_ago_with_tooltip(@page.last_version.authored_date)}

  .nav-controls.pb-md-3.pb-lg-0
    = render 'main_links'

- if @page.historical?
  .warning_message
    = s_("WikiHistoricalPage|This is an old version of this page.")
    - most_recent_link = link_to s_("WikiHistoricalPage|most recent version"), project_wiki_path(@project, @page)
    - history_link = link_to s_("WikiHistoricalPage|history"), project_wiki_history_path(@project, @page)
    = (s_("WikiHistoricalPage|You can view the %{most_recent_link} or browse the %{history_link}.") % { most_recent_link: most_recent_link, history_link: history_link }).html_safe

.prepend-top-default.append-bottom-default
  .md.md-file{ class: ('use-csslab' if Feature.enabled?(:csslab)) }
    = render_wiki_content(@page)

= render 'sidebar'
